---
import PageLayout from '../../layouts/PageLayout.astro';
import { pascaApiClient } from '../../lib/strapi';

const posts = await pascaApiClient.posts.getPosts({ populate: '*' })
  .then(response => response.data.data)
    .catch(reason => {
      console.error('ERROR', reason)
      return []
    })
;
---

<PageLayout title="blog">
  <ul>
    {posts?.map(post => (
      <li>
        <a href={`/blog/${post.slug}`}>{post.title}</a>
      </li>
    ))}
  </ul>
</PageLayout>
