---
import Calendar from './Calendar.tsx';
import HorizontalRule from './HorizontalRule.astro';
---

<div id="page">
	<section id="hero">
		<p>
			Plant & Soul California (PASCA) has been building community since 1999 around regenerative land use, food access, and native ecology. We cultivate a reciprocal, empowered relationship with nature.
		</p>
	</section>
	<section id="calendar">
		<h2>Events</h2>
		<div class="calendar-container">
			<Calendar client:load />
		</div>
	</section>
</div>

<style>
	#page {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		gap: 1rem;
		padding: 1rem 0;

		& #hero {
			font-size: 2rem;
			font-weight: 100;
		}

		& #calendar {

			& .calendar-container {
				background-color: var(--clr-fg);
				padding: 1rem;
				border: 1px solid #ccc;
			}
		}

		& > section:last-of-type {
			margin-bottom: auto;
		}
	}

	hr { width: 100%; }
</style>
