---
import PageHeader from '../components/PageHeader/index.tsx';
import { fetchStrapi } from '../lib/strapi';
import SiteLayout from './SiteLayout.astro';
import type { ComponentProps } from 'astro/types';

type Props = ComponentProps<typeof SiteLayout>;

const globalSettings = await fetchStrapi('global');

// TODO(culi): get menu options from Strapi
const DEFAULT_NAV_ITEMS = [
  { href: '/about', label: 'about' },
  { href: '/programs', label: 'programs' },
  { href: '/blog', label: 'blog' },
  { href: '/contact', label: 'contact' },
  { href: '/donate', label: 'donate' },
];
---

<SiteLayout {...Astro.props}>
  <div id="container">
    <div id="background" />
		<PageHeader client:load navItems={DEFAULT_NAV_ITEMS} />
    <main>
      <slot />
    </main>
    <footer>
      <p>
				{globalSettings?.siteName}
				<br />
        {globalSettings?.streetAddress1}
				<br />
        {globalSettings?.streetAddress2}
      </p>
    </footer>
  </div>
</SiteLayout>

<style>
	#background {
		background-color: var(--clr-bg);
		height: 100%;
		pointer-events: none;
		position: fixed;
		 left: 0;
		 top: 0;
		 width: 100%;
		z-index: -1;
	}

	#container {
		font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		& > :where(header, main, footer) {
			width: 100%;
			max-width: min(calc(150px + 65%), calc(100vw - 4rem));
			min-width: 250px;
		}

		& > main {
			flex-grow: 1;
		}

		& > footer {
			border-top: 5px solid var(--clr-line);
		}
	}
</style>

