---
import PageHeader from '../components/PageHeader/index.tsx';
import { pascaApiClient } from '../lib/strapi';
import SiteLayout from './SiteLayout.astro';
import type { ComponentProps } from 'astro/types';

type Props = ComponentProps<typeof SiteLayout>;

const globalSettings = await pascaApiClient.global.getGlobal()
	.then(response => response.data.data)
	.catch(() => undefined)
;

const navItems = await pascaApiClient.navbarItems.getNavbarItems()
	.then(response => response.data.data || [])
	.then((navItems) => navItems
	  .sort((itemA, itemB) => (itemA['sort_weight'] || 0) - (itemB['sort_weight'] || 0))
		.map(item => ({ href: item.internal_url || item.external_url || '', label: item.label }))
	)
	.catch(() => [])
;
---

<SiteLayout {...Astro.props}>
  <div id="container">
    <div id="background" />
		<PageHeader client:load navItems={navItems} />
    <main>
      <slot />
    </main>
    <footer>
      <p>
				{globalSettings?.siteName}
				<br />
        {globalSettings?.streetAddress1}
				<br />
        {globalSettings?.streetAddress2}
      </p>
    </footer>
  </div>
</SiteLayout>

<style>
	#background {
		background-color: var(--clr-bg);
		height: 100%;
		pointer-events: none;
		position: fixed;
		 left: 0;
		 top: 0;
		 width: 100%;
		z-index: -1;
	}

	#container {
		font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		& > :where(header, main, footer) {
			width: 100%;
			max-width: min(calc(150px + 65%), calc(100vw - 4rem));
			min-width: 250px;
		}

		& > main {
			flex-grow: 1;
		}

		& > footer {
			border-top: 5px solid var(--clr-line);
		}
	}
</style>

