---
type Props = {
	title: string | undefined;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>PASCA | {title}</title>
		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>

<!-- CSS tokens -->
<style is:global>
	:root {
		/*** ===================== */
		/** === ATOMIC TOKENS === **/
		/* ===================== ***/
		--color-fuschia: #f36daf;
		--color-marigold: #f5b224;
		--color-pine: #008243;
		--color-straw: #fcfaf6;
		--color-datura: #fdfdfd;

		/*** ======================= */
		/** === SEMANTIC TOKENS === **/
		/* ======================= ***/
		--clr-bg: var(--color-straw); /* background */
		--clr-fg: var(--color-datura); /* foreground */
		--clr-primary: var(--color-pine);
		--clr-secondary: var(--color-fuschia);
		--clr-tertiary: var(--color-marigold);
	}
</style>
